# node nodule deps
node_modules
reference-guide
# editor files
*~
# ignore .git
.git/
## actually just ignore all api files - uncomment later
# public/api
#
public/api/1.8/dijit
public/api/1.8/dojo
public/api/1.8/dojox
public/api/1.8/doh
public/api/1.9rc2/dijit
public/api/1.9rc2/dojo
public/api/1.9rc2/dojox
public/api/1.9rc2/doh

public/api/1.9/dijit
public/api/1.9/dojo
public/api/1.9/dojox
public/api/1.9/doh

# old data
public/api/1.8/widgetbase.json
public/api/1.8/details_dijit.xml
public/api/1.8/details_huge.xml
staticoutput/
.idea/dapi.iml

#ignore data
public/data
