extend layout
block main
    div#main(data-dojo-type="dijit.layout.BorderContainer", data-dojo-props="liveSplitters: false")
        block header
            div#head(data-dojo-type="dijit.layout.ContentPane", data-dojo-props="region: 'top'")
                // move this header to a block later
                div#header
                    div.container
                        span#logo
                            a(href="/", title="home")
                                img(src="#{config.contextPath}images/logo.png", alt="Dojo Toolkit")
                        ul#navigation
                            li.home
                                a(href="/")
                                    span.homeIcon
                            li.download
                                a(href="/download/") Download
                            li.features
                                a(href="/features/") Features
                            li.docs
                                a(href="/docs/") Documentation
                            li.community
                                a(href="/community/") Community
                            li.blog
                                a(href="/blog/") Blog
        block navigation
            div#navigation(data-dojo-type="dijit.layout.BorderContainer", data-dojo-props="minSize: 20, region:\'leading\', splitter: true, gutters: false", style="width:300px;") 
                div(data-dojo-type="dijit.layout.ContentPane", data-dojo-props="title:'Search', region:'top'")
                    div(style="padding:4px")
                        label(for="versionSelector") Version:
                        select#versionSelector(style="width:auto")
                            - each version in config.versions
                                option(selected=config.defaultVersion == version) #{version}
                        
                div(data-dojo-type="dijit.layout.AccordionContainer",data-dojo-props="region: 'center'") 
                    div#moduleTreePane(data-dojo-type="dijit.layout.ContentPane", data-dojo-props="title: 'By Module', selected: true") 
                
                    include legend   

        block content            
            div#content(data-dojo-type="dijit.layout.TabContainer", data-dojo-props="region: 'center', tabStrip: true")
                div#baseTab(data-dojo-type="dijit.layout.ContentPane",data-dojo-props="title: 'Welcome'")
                    - if (module !=null)
                        include module
                    - else  
                        h1 The Dojo Toolkit API
                        p Welcome to the Dojo Toolkit API documentation. You are browsing version 1.8 of the Dojo Toolkit. Use the selector to the left to change versions.
                        p To find the object you're interested in, use the tree to the left...or use the quick links below. To print the documentation, simply navigate to the object of your choice and hit Print.
                        h1 TRY AND MAKE THIS COMPILE TO A MODULE TOO i.e. SEO in the index file
