h1 The Dojo Toolkit API
p.dtk-intro Welcome to the Dojo Toolkit API documentation.  You are browsing version <strong>#{config.defaultVersion}</strong> of the Dojo Toolkit. Use the selector to the left to change versions.
p.dtk-intro To find the object you're interested in, use the tree to the left...or use the quick links below. To print the documentation, simply navigate to the object of your choice and hit Print.  


div.dtk-objects
    h2 The main packages of the Dojo Toolkit
    div.dtk-object
        div.dtk-object-image.dtk-dojo
        div.dtk-object-title
            a(href='javascript:moduleTree.selectAndClick()') dojo
        div.dtk-object-description The granddaddy of the Dojo Toolkit.  Look here for common methods such as dojo.byId or dojo.style.
    div.dtk-object
        div.dtk-object-image.dtk-dijit
        div.dtk-object-title
            a(href='javascript:moduleTree.selectAndClick();') dijit
        div.dtk-object-description The user interface framework built on top of Dojo.
    div.dtk-object
        div.dtk-object-image.dtk-dojox
        div.dtk-object-title
            a(href='javascript:moduleTree.selectAndClick();') dojox
        div.dtk-object-description The namespace of additional Dojo Toolkit projects, including things like Charting, the Grid and DTL.
    div.clear
    h2 Common modules and packages of the Dojo Toolkit
    div.dtk-object
        div.dtk-object-image.dtk-dojo-query
        div.dtk-object-title
            a(href='javascript:moduleTree.selectAndClick();') dojo/query
        div.dtk-object-description The CSS3 query selector engine of the Dojo Toolkit.
    div.dtk-object
        div.dtk-object-image.dtk-dojo-NodeList
        div.dtk-object-title
            a(href='javascript:moduleTree.selectAndClick();') dojo/NodeList
        div.dtk-object-description The return from any dojo/query call, with lots of goodies.
    div.dtk-object
        div.dtk-object-image.dtk-dijit-form
        div.dtk-object-title
            a(href='javascript:moduleTree.selectAndClick();') dijit/form
        div.dtk-object-description The form elements of Dijit, including TextBox, Button, FilteringSelect and a lot more.
    div.dtk-object
        div.dtk-object-image.dtk-dijit-layout
        div.dtk-object-title
            a(href='javascript:moduleTree.selectAndClick();') dijit/layout
        div.dtk-object-description Layout widgets to help you design your Dijit-based interface, including BorderContainer and ContentPane.
    div.dtk-object
        div.dtk-object-image.dtk-dojox-chart2d
        div.dtk-object-title
            a(href='javascript:moduleTree.selectAndClick();') dojox/charting
        div.dtk-object-description The main object of the Dojo Toolkit&#039;s amazing Charting library.
    div.dtk-object
        div.dtk-object-image.dtk-dojox-grid
        div.dtk-object-title
            a(href='javascript:moduleTree.selectAndClick();') dojox/grid
        div.dtk-object-description The Grid classes in the Dojo Toolkit, including the DataGrid, EnhancedGrid and TreeGrid.
    div.clear

div Want to use these documentation tools for your own project?
    a(href='https://github.com/wkeese/api-viewer/blob/master/README.rst')  Find out how!

