html, body {
	height: 100%; width: 100%; padding: 0; border: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.85em;
	margin: 0;
}
#main { height: 100%; width: 100%; border: 0; }

h1.jsdoc-title { 
	font-size: 2.5em;
	margin: 0.35em 0;
	font-weight: normal;
}
h1.jsdoc-title img {
	float: left;
	padding-right: 0.25em;
}
div.jsdoc-field div.jsdoc-title {
	font-weight: bold;
}

div.jsdoc-field div.jsdoc-title span img {
	float: left;
	padding-right: 4px;
}

/* h1.jsdoc-title title version */
.djversion1 {
    font-size:11px; 
    color:#999;
}

div.jsdoc-mixins, .jsdoc-inheritance {
	font-size: 0.8em;
}
div.jsdoc-prototype a, div.jsdoc-mixins a,
.jsdoc-inheritance a {
	text-decoration: none;
}
div.jsdoc-prototype a:hover,
div.jsdoc-mixins a:hover,

div.jsdoc-full-summary {
	margin: 1em 0;
}



/* jsdoc-parameters */
table.jsdoc-parameters {
	font-size: 1em;
	width: auto;
	margin: 1em 0;
	border-collapse: collapse;
}
table.jsdoc-parameters th,
table.jsdoc-parameters td {
	padding: 0.25em 0.5em;
	text-align: left;
	vertical-align: top;
	border: 1px solid #999;
}
table.jsdoc-parameters th {
	background-color: #eee;
	font-weight: bold;
}
table.jsdoc-parameters td {
	background-color: #fff;
}
table.jsdoc-parameters .jsdoc-param-description p {
	margin: 0;
}
