/*
 * Import nib
 */
@import 'nib'
global-reset()

h1
  margin 13px 10px 4px
  padding-bottom 10px
  border-bottom 1px dotted #ddd
  border-radius 2px 2px 0px 0px
  margin-bottom 10px
  font-size 20px

p
  padding 0px 10px
  margin-bottom 10px



/* header */

#header ul {
    position: absolute;
    bottom: 7px;
    right: 230px;
    margin: 0;
    padding: 0 0 0 11.55em;
    font-family: Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}
#header ul li {
    list-style: none;
    display: inline;
}
#header li a {
    margin: 0 1px;
    padding: 7px 15px;
    display: block;
    float: left;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5em;
    min-width: 62px;
    text-decoration: none;
    text-align: center;
    letter-spacing: -0.0035em;
    background-color: #5BAED5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 176, 216)), to(rgb(0, 136, 196)));
    background-image: -webkit-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
    background-image: -moz-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
    background-image: -o-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
    background-image: -ms-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
    background-image: linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
    border-top: 1px solid #64D0E7;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

#header .home a {
    min-width: 15px;
    width: 15px;
    padding-bottom: 6px;
}

.dj_ie7 #header li a {
    height: 21px; /* Get IE 7 to display the nav tabs correctly */
}

#header li.active a {
    font-weight: bold;
    border-bottom: 3px solid #0099CC;
}

/* end header */


/* lists */  
p, ol, ul, dl {
    line-height: 125%;
    margin: 0 0 12px;
}

ol, ul {
    margin: 0 0 12px 40px;
    padding: 0px;
    -moz-padding-start: 0px;
}

ol {
    list-style-type: decimal;
    list-style-position: outside;
}

ul {
    list-style-type: disc;
    list-style-position: outside;
}

li {
    margin: 12px 0;
}

dl {
    margin: 0 0 12px 0;
}
dl dt {
    font-weight: bold;
}
dl dd {
    margin: 0 0 0 40px;
    padding: 0px;
    -moz-padding-start: 0px;
}

pre, code {
    font-family: "Lucida Grande", "Lucida Sans", Geneva, verdana, san-serif;
}
pre {
    margin: 12px 0;
    padding: 6px 9px 7px;
    font-size: 11px;
    border: 1px solid #CCCCCC;
    background: #FFFFEB;
    color: #555;
}

code {
    font-family:"courier" !important;
}

/* end lists */

h3 {
font-size: 16px;
color: #C00;
line-height: 120%;
margin: 40px 0 10px 0;
}

